---
const today = new Date();
---

<footer>
	<p class="copyright">
		&copy; {today.getFullYear()} Toolbase. Honest AI tool reviews for solopreneurs.
	</p>
	<p class="disclosure">
		Some links on this site are affiliate links. We only recommend tools we actually use.
		<a href="/about">More on how we make money &rarr;</a>
	</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer p {
		margin: 0.4em 0;
	}
	.copyright {
		font-weight: 500;
	}
	.disclosure {
		font-size: 0.85em;
		opacity: 0.85;
	}
	.disclosure a {
		color: rgb(var(--gray-dark));
		text-decoration: underline;
	}
</style>
